.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.form {
  margin-bottom: 40px;
}

.form input {
  width: 200px;
  outline: none;
  font-size: 12px;
  line-height: 12px;
  padding: 10px;
  margin: 0 10px 0;
}

.form button {
  margin: 0;
  padding: 13px 15px;
  border-radius: 0;
  border: 0;
  font-size: 12px;
  line-height: 12px;
  box-shadow: none;
  background: none;
  background-color: #02c0bf;
  color: white;
}

.form button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.answers {
  text-align: left;
}

.correct, .answer {
  display: inline;
}

.question {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-weight: bold;
  line-height: 1.5;
  color: #333;
}

.answer {
  margin: 0 10px 30px;
}
